{% extends 'base.html.twig' %}
{% block title %}
    Profile
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row py-5">
            <div class="col-md-12 pl-5">
                <h2>Hey, {{ user.firstname }} {{ user.lastname }}!</h2>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-5 pl-5">
                <h3>Liste des tâches crées</h3>
                <hr>
                {% include 'blocks/todolist.html.twig' with { 'todos': user.created_todos } %}
            </div>
            <div class="col-md-5 pl-5">
                <h3>Liste des tâches assignées</h3>
                <hr>
                {% include 'blocks/todolist.html.twig' with { 'todos': user.assigned_todos } %}
            </div>
        </div>
    </div>
{% endblock %}