{% extends 'base.html.twig' %}

{% block title %}
    Page de connexion
{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-lg-8 offset-lg-2 text-center pt-5">
            <h1>
                <img src="/assets/img/logo.png" width="60" height="60" class="d-inline-block align-top mr-4" alt="">
                Projet ToDo <strike style="font-size:12px;">(à faire...)</strike>
                <img src="/assets/img/logo.png" width="60" height="60" class="d-inline-block align-top ml-2" alt="">
            </h1>
        </div>
        <hr>
    </div>

    <div class="container pt-5">
        <div class="row justify-content-center my-auto">
            <div class="col-sm-6">
                <form method="post">
                    <h2 class="text-center">Connexion</h2>
                    <hr>
                    <div class="input-group">
                        <span class="text-muted col-sm-4 pt-1">Adresse e-mail</span>
                        <input type="text" class="form-control col-sm-8" name="username" placeholder="Username">
                    </div>
                    <div class="input-group py-4 pt-1">
                        <span class="text-muted col-sm-4">Mot de passe</span>
                        <input type="password" class="form-control col-sm-8" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-lg btn-primary w-100" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
