{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-3 pl-5">
                <h3>Liste des tâches</h3>
                <hr>
                <ul style="list-style-type: none">
                    <li class="a-task"><a href="#">hey 1</a></li>
                    <hr class="mbt-02">
                    <li class="a-task"><a href="#">hey 2</a></li>
                    <hr class="mbt-02">
                    <li class="a-task"><a href="#">hey 3</a></li>
                    <hr class="mbt-02">
                    <li class="a-task"><a href="#">hey 4</a></li>
                    <hr class="mbt-02">
                    <li class="a-task"><a href="#">hey 5</a></li>
                    <hr class="mbt-02">
                </ul>
            </div>
            <div class="col-md-6 offset-md-1">
                <hr>
                <div class="card-body">

            </div>
            </div>
        </div>
    </div>


{% endblock %}