{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-3 pl-5">
                <h3>Liste des tâches</h3>
                <hr>
                {% include 'todolist.html.twig' with todos %}
            </div>
            <div id="" class="col-md-6 offset-md-1">
                <hr>

                <div class="card-body">
                    <h6 class="card-price text-left">Titre de la tâche</h6>
                    <input type="text" id="description" name="description" class="form-control" placeholder="wash dishes...">
                    <hr>
                    <h6 class="card-price text-left">Description de la tâche</h6>
                    <textarea class="form-control" id="txt-task" rows="3"></textarea>
                    <hr>

                    <div class="form-group" id="userBloc">
                        <hr>
                        <label for="option">Utilisateur concerné</label>
                        <select class="form-control w-50" id="userTask" name="userTask">
                            {% for user in users %}
                                <option value={{ user.username }}>{{ user.firstname }} {{ user.lastname }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <hr>

                    <span class="fa-li"></span>Date d'échance:
                    <div class="input-group" style="width: 220px" >
                        <input type="text" class="form-control datepicker" name="start" id="start">
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
                        <span class="invalid-feedback"></span>
                    </div>

                    <hr>

                    <label class="ks-switch mt-2" for="done" >
                        <input type="checkbox" id="done"  name="done" value="1" >
                        <span class="ks-slider ks-round"></span>
                        <h6 class="pl-5 ml-3 pt-1">Fait</h6>
                    </label>


                    <hr>

                    <div class="row">
                        <div class="col-sm-2">
                            <a href="/todos" class="btn btn-block text-uppercase">Retour</a>
                        </div>
                        <div class="col-sm-3 offset-sm-4">
                            <button class="btn btn-block btn-danger text-uppercase" id="btn-deleteList" type="button">
                                Supprimer
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-md btn-success text-uppercase" type="submit" >Valider</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            // ini
        });

        $("[data-value]").click(function(){
            $.ajax({
                url: "/todos/"  + $(this).data("value"),
                type: 'GET',
            }).fail(function () {
            }).done(function (result) {
                alert(Object.keys(result));
            });
        });

    </script>
{% endblock %}