{% extends 'base.html.twig' %}
{% block menu_buttons_extension %}
    <li class="nav-item">
        <a class="nav-link" href="/todos">L'ajout d'une tâche</a>
    </li>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-3 pl-5">
                <h3>Liste des tâches</h3>
                <hr>
                {% include 'blocks/todolist.html.twig' with todos %}
            </div>
            <div class="col-md-6 offset-md-1">
                {% if can_update %}
                    <h3 class="card-price text-left">
                        Modification de la tâche
                    </h3>
                    <hr>
                {% endif %}
                <form id="viewTodoForm" method="post" action="/todos/{{ todo.id }}/assign">
                    {% include 'blocks/viewtodo.html.twig' with {'todo': todo, 'can_update':can_update} %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}