{% extends 'base.html.twig' %}
{% block title %}
    {{ todo.title }}
{% endblock %}
{% block menu_buttons_extension %}
    <li class="nav-item">
        <a class="nav-link" href="/todos">L'ajout d'une tâche</a>
    </li>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-3 offset-md-1">
                <h3>Liste des tâches</h3>
                <hr>
                {% include 'blocks/todolist.html.twig' with todos %}
            </div>
            <div class="col-md-6 offset-md-1">
                {% if can_update %}
                    <h3 class="card-price text-left">
                        Modification de la tâche
                    </h3>
                    <hr>
                {% endif %}
                <div class="card-body">
                    {% if can_update %} {# Update todo #}
                        {% include 'blocks/update_todo.html.twig' with todo %}
                    {% else %}
                        {% include 'blocks/view_todo.html.twig' with {'todo': todo, 'can_update':can_update} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#btn-deleteList').click(function (e) {
            e.preventDefault();
            var todoId = '{{ todo.id }}';

            $.ajax({
                url: "/todos/" + todoId,
                type: 'DELETE',
                success: function (data, textStatus, xhr) {
                    window.location.href = xhr.getResponseHeader('Location');
                },
                error: function(xhr,textStatus,errorThrown) {
                    alert(xhr.responseText);
                }
            });
        });
    </script>
{% endblock %}