{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-2 offset-md-1">
                <h3>Liste des tâches...  </h3>
                <ul style="list-style-type: none">
                    <li><a href="#">hey 1 <i class="fas fa-user"></i></a></li>
                    <li><a href="#">hey 2</a></li>
                    <li><a href="#">hey 3</a></li>
                    <li><a href="#">hey 4</a></li>
                    <li><a href="#">hey 5</a></li>

                </ul>
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>


{% endblock %}